a {
  text-decoration: none;
  color: white;
}

/*a:hover, a:active{
  color: lightgray;
}*/

.navigation-items{
  list-style-type: none;
  padding: 0;
  margin: 0 20px 0 0;
  font-size: .8em;
}

.logo {
  font-size: 0.9em;
  margin-left: 20px;
}

.login {
  color: white;
}
.login a {
  margin-left: 5px;
}

mat-toolbar{
  border-radius: 3px;
}

@media(max-width: 959px){
  mat-toolbar{
    border-radius: 0px;
  }
}
